/build/
/nbproject/
/dist/
*.class
/J1.S.P0060/nbproject/private/
/J1.S.P0060/build/
/J1.S.P0061/nbproject/private/
/J1.S.P0061/build/
/J1.S.P0056/nbproject/private/
/J1.S.P0056/build/
/J1.S.P0056/dist/
/J1.S.P0074/nbproject/private/
/J1.S.P0074/build/
/001-BubbleSort/nbproject/private/
/001-BubbleSort/build/
/Linearflowbubblesort/nbproject/private/
/Linearflowbubblesort/build/
/RXTXcommunication/nbproject/private/
/RXTXcommunication1/nbproject/private/
/RXTXcommunication1/dist/
/RXTXcommunication1/build/
/Countries/nbproject/private/
/Lab211_contact/nbproject/private/
/Lab211_contact/build/
